h1 {
	font-size: 48px;
}
.post-heading {
	color: #006633;
	font-size: 1.8em;
	text-align: center;
}
#main-nav	{
	font-size: 1.3em;
}
a:link, a:visited {
	text-decoration: none;
}
a:active, a:focus, a:hover {
	text-decoration: underline;
}
blockquote	{
	color: #33ccff;
	font-size: 1.3em;
	font-style: italic;
}
article p {
	text-align: justify;
	text-indent: 25px;
}
.hero-image {
	float: left;
	width: 640px
}
.article-thumbs {
	clear: both;
	width: 20px;
}
